@import "../../styles/Shared.module.scss";

.Container {
	.HistoryContainer {
		padding: 0 0 0 2rem;
		border-left: 1px solid rgb(0, 212, 184);
		position: relative;

		.Pointer {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 30px;
			height: 30px;
			background: rgb(0, 212, 184);
			left: -16px;
			top: -10px;
			border-radius: 20px;
		}
	}

	.CTA {
		position: fixed;
		bottom: 2rem;
		right: 4rem;
		border: none;
	}

	@media (max-width: 1080px) {
		padding: 0 2rem;
	}
}

